<div class="flex flex-col">
    <div class="flex justify-between items-center mb-4">
        <h2 class="font-bold text-xl">Manage Todos</h2>
        <button class="btn btn-icon btn-rounded btn-primary" (click)="openSlidePanel()">
            <i class="ri-add-line ri-lg"></i>
            Add Todo
        </button>
    </div>
    <div class="bg-white shadow">
        @for (item of todos; track $index){
            <app-todo-card [type] = "item.status" [todo] = "item"></app-todo-card>
        }
    </div>
</div>
<!-- side panel design code -->
<app-slide-panel [headerText]="'Todo Details'" [isOpen]="isSlidePanelOpen" (onClose)="onCloseSidePanel()">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" autocomplete="false" novalidate>
        <div class="form-group mb-3">
            <label for="title" class="form-lable">Title</label>
            <input type="text" id="title" class="form-control" 
                formControlName="title"
                [class]="{'invalid': todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched, 'valid':todoForm.get('title')?.valid}"
                placeholder="Title" 
            />
            @if(todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched){
                <span class="form-error">Title is required.</span>
            }
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="" rows="4" class="form-control"
                [class]="{'invalid': todoForm.get('description')?.hasError('required') && todoForm.get('description')?.touched, 'valid':todoForm.get('description')?.valid}"
                placeholder="Description" formControlName="description"
            ></textarea>
            @if(todoForm.get('description')?.hasError('required') && todoForm.get('description')?.touched){
                <span class="form-error">Description is required.</span>
            }
        </div>
        <div class="form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <select
            class="form-select"
            [class]="{'invalid': todoForm.get('status')?.hasError('required') && todoForm.get('status')?.touched, 'valid':todoForm.get('status')?.valid}" 
            formControlName="status">
                <option [value]="" selected="selected">Select an option</option>
                @for(item of todoStatus; track $index){
                    <option [value]="item">{{item}}</option>
                }
            </select>
            @if(todoForm.get('status')?.hasError('require') && todoForm.get('status')?.touched){
                <span class="form-error">Status is required.</span>
            }
        </div>
        <div class="flex gap-2">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="onCloseSidePanel">Cancel</button>
        </div>
    </form>
</app-slide-panel>
